@font-face {
	font-family: 'Open Sans Hebrew Condensed';
	src: url('../fonts/OpenSansHebrewCondensed-Regular.eot');
	src: url('../fonts/OpenSansHebrewCondensed-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansHebrewCondensed-Regular.woff') format('woff'),
		url('../fonts/OpenSansHebrewCondensed-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Condensed';
	src: url('../fonts/OpenSans-CondensedBold.eot');
	src: url('../fonts/OpenSans-CondensedBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-CondensedBold.woff') format('woff'),
		url('../fonts/OpenSans-CondensedBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Hebrew Condensed';
	src: url('../fonts/OpenSansHebrewCondensed-Bold.eot');
	src: url('../fonts/OpenSansHebrewCondensed-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansHebrewCondensed-Bold.woff') format('woff'),
		url('../fonts/OpenSansHebrewCondensed-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Condensed';
	src: url('../fonts/OpenSans-CondensedLight.eot');
	src: url('../fonts/OpenSans-CondensedLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-CondensedLight.woff') format('woff'),
		url('../fonts/OpenSans-CondensedLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Hebrew Condensed';
	src: url('../fonts/OpenSansHebrewCondensed-Light.eot');
	src: url('../fonts/OpenSansHebrewCondensed-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansHebrewCondensed-Light.woff') format('woff'),
		url('../fonts/OpenSansHebrewCondensed-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
