.quote {
	height: 720px;
	position: relative;

	.shade {
		position: absolute;
		left: 0;
		top: 0;
		height: 80px;
		width: 100%;
		z-index: 5;
	}

	.bg {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
	}

	.arrows {
		position: absolute;
		bottom: 10%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}

	.arrow-left {
		background: url('../images/arrow-left.svg') no-repeat center center / contain;
		width: 31px;
		height: 38px;
		margin-right: 24px;
	}

	.arrow-right {
		background: url('../images/arrow-right.svg') no-repeat center center / contain;
		width: 31px;
		height: 38px;
		margin-left: 24px;
	}

	.content {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		height: 100%;
		margin-left: 12%;

		z-index: 55;

		.quote-left,
		.quote-right {
			font-family: 'Helvetica', sans-serif;
			font-size: 500px;
			letter-spacing: 0.54px;
			line-height: 416px;
			z-index: -1;
			position: absolute;
		}

		.quote-left {
			left: -16%;
			top: -20%;
		}

		.quote-right {
			transform: rotate(180deg);
			right: 0%;
			top: -90%;
		}

		.in-touch {
			opacity: 0.8;
			font-size: 36px;
			color: #FFFFFF;
			letter-spacing: 1.2px;

			display: flex;
			flex-flow: row nowrap;
			align-items: center;

			.icon {
				background: url('../images/in-touch.png') no-repeat center center / contain;
				height: 60px;
				width: 60px;
				margin-right: 25px;
			}
		}

		.title {
			margin-top: 31px;
			font-weight: bold;
			font-size: 82.36px;
			color: #FFFFFF;
			letter-spacing: 2.23px;
			line-height: 92.66px;
			position: relative;
		}

		.twitter {
			margin-top: 22px;
			opacity: 0.5;
			font-family: 'Open Sans', sans-serif;
			font-style: italic;
			font-size: 16px;
			color: #FFFFFF;
			letter-spacing: 0.9px;

			display: flex;
			flex-flow: row nowrap;
			align-items: center;

			.icon {
				margin-right: 14px;
				background: url('../images/twitter.svg') no-repeat center center / contain;
				width: 32px;
				height: 26px;
			}
		}
	}

	&.rob {
		background-image: linear-gradient(-174deg, #6F26D9 0%, #4125B8 100%);

		.shade {
			background: rgba(27,2,30,0.12);
		}

		.bg {
			background: url('../images/rob.png') no-repeat right bottom / contain;
		}

		.quote-left,
		.quote-right {
			color: #6E3AF0;
		}

		.title {
			width: 55%;
		}
	}

	&.alona {
		background-image: linear-gradient(-174deg, #FFE038 0%, #FEA345 100%);

		.shade {
			background: rgba(246,186,64,0.40);
		}

		.bg {
			background: url('../images/alona.png') no-repeat right bottom / contain;
		}

		.quote-left,
		.quote-right {
			color: #FFE57A;
		}

		.quote-left {
			left: -25%;
		}

		.quote-right {
			right: 0%;
			top: initial;
			bottom: -40%;
		}

		.title {
			width: 57%;
		}
	}

	&.topher {
		background-image: linear-gradient(2deg, #FA228D 0%, #FD20D4 98%);

		.shade {
			background: #F413C2;
		}

		.bg {
			background: url('../images/topher.png') no-repeat right bottom / contain;
		}

		.quote-left,
		.quote-right {
			color: #FC56CE;
		}

		.quote-left {
			left: -25%;
		}

		.quote-right {
			right: 15%;
			top: initial;
			bottom: -40%;
		}

		.title {
			width: 70%;
		}
	}
}


.video {
	background: #25182A;
	padding: 30px;

	&-full {
		position: relative;

		img {
			width: 100%;
		}

		.play {
			background: url('../images/play-big.svg') no-repeat center center / contain;
			width: 147px;
			height: 147px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			z-index: 50;
			cursor: pointer;
		}
	}

	&-list {
		margin-top: 15px;

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	.arrow-left {
		background: url('../images/arrow-left.svg') no-repeat center center / contain;
		width: 31px;
		height: 38px;
		margin-right: 24px;
	}

	.arrow-right {
		background: url('../images/arrow-right.svg') no-repeat center center / contain;
		width: 31px;
		height: 38px;
		margin-left: 24px;
	}

	&-item {
		position: relative;
		cursor: pointer;

		&:hover {
			.play { opacity: 1; }

			.text { opacity: 0; }
		}

		img {
			width: 100%;
		}

		.text {
			font-weight: bold;
			font-size: 23.19px;
			color: #FFFFFF;
			letter-spacing: 1.29px;
			line-height: 24px;

			opacity: 1;
			transition: opacity 0.3s ease;
			will-change: opacity;

			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			text-align: center;
		}

		.play {
			background: url('../images/play-middle.svg') no-repeat center center / contain;
			width: 83px;
			height: 83px;

			opacity: 0;
			transition: opacity 0.3s ease;
			will-change: opacity;

			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}


.watch-it-now {
	background-image: linear-gradient(-182deg, #F45232 0%, #E52816 100%);
	padding: 22px 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	.title {
		font-weight: bold;
		font-size: 20.79px;
		color: #FFFFFF;
		letter-spacing: 1.68px;
	}

	.subtitle {
		margin-top: 1px;
		font-weight: 300;
		font-size: 16px;
		color: #FFFFFF;
		letter-spacing: 1.29px;
	}
}


.footer {
	background: #1B252A;

	.logos {
		padding: 52px 0 62px;

		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;

		.dark-factory {
			background: url('../images/dark-factory.png') no-repeat center center / contain;
			width: 354px;
			height: 87px;
			margin-right: 98px;
		}

		.itaca {
			background: url('../images/itaca.png') no-repeat center center / contain;
			width: 91px;
			height: 87px;
			margin-right: 56px;
		}

		.little-luca {
			background: url('../images/little-luca.png') no-repeat center center / contain;
			width: 249px;
			height: 61px;
			margin-right: 79px;
		}

		.globecom {
			background: url('../images/globecom.png') no-repeat center center / contain;
			width: 91px;
			height: 87px;
		}
	}

	.nav {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;

		padding: 19px 42px;
	}

	.nav-list {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		color: #7E8791;
		letter-spacing: 1.3px;

		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		cursor: pointer;

		.separate {
			margin: 0 10px;
		}
	}

	.nav-copy {
		font-family: 'Open Sans', sans-serif;
		font-size: 10px;
		color: #5B6D82;
		letter-spacing: 0.81px;
	}
}
