@import '_fonts';
@import '_normalize';
@import '_header';
@import '_index';

.container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	max-width: 1200px; //fit it later
	padding: 0 30px;
	margin: 0 auto; //fix it later
}


* {
    box-sizing: border-box;
}

html {
  background: #fff;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans Hebrew Condensed', sans-serif;
}

textarea {
    line-height: 1.6;
    resize: vertical;
}

a {
    outline: none;
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=checkbox],
input[type=radio] {
		opacity: 0;
		position: absolute;
		z-index: 12;
		width: 18px;
		height: 18px;
    cursor: pointer;
}

input[type=checkbox]:checked,
input[type=radio]:checked,
input[type=checkbox]:focus,
input[type=radio]:focus {
		outline: none !important;
}
