.header
  .logo

  .watch
    .watch-button
      .watch-now
        | Watch It Now
      .watch-starting
        | starting at 
        span $2.99 
        | on Amazon Demand

    .watch-button
      .watch-trailer
        .play
        | Watch Trailer

  .characters
  a.smule(href="/")
  .arrow
