doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title MIMIC
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="icon" href="images/favicon.png")


  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('scripts/initialize');


body
  include components/header

  .quote.rob
    .bg

    .content
      .in-touch
        .icon
        | In Touch Weekly

      .title
        .quote-left
          | “
        | “THE SHOW GOES
        br
        |THE F*CK ON”
        .quote-right
          | “
      
      a.twitter(href="twitter.com")
        .icon
        | via Twitter

  a.watch-it-now(href="/")
    .title
      | Watch It Now
    .subtitle
      | starting at $2.99 on Amazon Demand

  .footer
    .logos
      .dark-factory
      .itaca
      .little-luca
      .globecom

    .nav
      .nav-list
        .nav-item
          | TERMS & CONDITIONS
        .separate
          | |
        .nav-item
          | PRIVACY POLICY

      .nav-copy
        | ©2016 BENITO FILMS, LLC ALL RIGHTS RESERVED.
