doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title FeatureProof
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="icon" href="images/favicon.png")


  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('scripts/initialize');


body
  include components/header

  .quote.rob
    .bg
    .shade
    .content
      .in-touch
        .icon
        | In Touch Weekly

      .title
        .quote-left
          | “
        | “THE SHOW GOES THE F*CK ON”
        .quote-right
          | “

      a.twitter(href="twitter.com")
        .icon
        | via Twitter

      .arrows
        .arrow-left
        .arrow-right
  .quote.alona
    .bg
    .shade
    .content
      .in-touch
        .icon
        | In Touch Weekly

      .title
        .quote-left
          | “
        | “FUNNIEST MOVIE TO OPEN THIS YEAR!”
        .quote-right
          | “

      a.twitter(href="twitter.com")
        .icon
        | via Twitter

      .arrows
        .arrow-left
        .arrow-right
  .quote.topher
    .bg
    .shade
    .content
      .in-touch
        .icon
        | In Touch Weekly

      .title
        .quote-left
          | “
        | “NEVER ENDING WRECK OF HILARIOUSNESS”
        .quote-right
          | “

      a.twitter(href="twitter.com")
        .icon
        | via Twitter

      .arrows
        .arrow-left
        .arrow-right
  .video
    .video-full
      img(src="./images/video-full.png")
      .play

    .video-list
      .arrow-left
      .video-item
        img(src="./images/video-1.png")
        .text
          | CHOPSTICKS
        .bg
        .play

      .video-item
        img(src="./images/video-2.png")
        .text
          | WELCOME TO WONDERLAND
        .bg
        .play

      .video-item
        img(src="./images/video-3.png")
        .text
          | WORDS, SAY WORDS
        .bg
        .play

      .video-item
        img(src="./images/video-4.png")
        .text
          | WORDS, SAY WORDS
        .bg
        .play
      .arrow-right

  a.watch-it-now(href="/")
    .title
      | Watch It Now
    .subtitle
      | starting at $2.99 on Amazon Demand

  .footer
    .logos
      .dark-factory
      .itaca
      .little-luca
      .globecom

    .nav
      .nav-list
        .nav-item
          | TERMS & CONDITIONS
        .separate
          | |
        .nav-item
          | PRIVACY POLICY

      .nav-copy
        | ©2016 BENITO FILMS, LLC ALL RIGHTS RESERVED.
